body{
  background: url(./tv.gif);
  margin: 0%;
  padding: 0%;
}
.navbar {
  width: 75%;
  border-radius: 30px;
} 
.flex-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
i{
  font-size: 6vw;
  margin: 0;
  color: white;
}
.contact-icon{
  display: flex;
  align-items: center;
}
#middle-bg{
  position: absolute;
  background-image: url(./title-bg.png);
  background-position: center;
  background-size: cover;
  width: 70vw;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
h1{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 25%;
  margin: 0%;
  padding: 0%;
  font-family: 'Secular One', serif;
  font-weight: 750;
  font-size: 5vw;
  color: red;
  transition: .5s;
  text-shadow: 0 5px 0 rgb(0,0,0),
  0 1vw 4vw rgba(0,0,0,.5),
  0 2vw 3vw rgba(0,0,0,.5),
  0 3vw 2vw rgba(0,0,0,.5);
}
.greeting{
  top: 60%;
  left: 50%;
}
p{
  font-family: 'Red Rose';
  font-size: 1.8vw;
}
h2{
  font-family: 'Secular One';
  font-size: 4vw;
  background-color: white;
  margin: 10px;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}
h4{
  font-size: 3vw;
}
h1:before{
  content: attr(data-title);
  position: absolute;
  color: orange;
  top: -0.5vh;
  left: 0;
  text-shadow: 0 5px 5px red;
  transition: .5s;
}
h1::after{
  content: attr(data-title);
  position: absolute;
  color: white;
  top: -1vh;
  left: 0;
  text-shadow: 0 5px 5px orange;
  transition: .5s;
}
h1:hover::before{
  top: -0.5vw;
  left: 0.5vw;
}
h1:hover::after{
  top: -1vw;
  left: 1vw;
}
h3{
  position: relative;
  font-size: 5vw;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 25%;
  margin: 0%;
  padding: 0%;
  font-family: 'Secular One', serif;
  font-weight: 750;
  font-size: 5vw;
  color: black;
  transition: .5s;
  text-shadow: 0 5px 0 rgb(0,0,0),
  0 1vw 4vw rgba(0,0,0,.5),
  0 2vw 3vw rgba(0,0,0,.5),
  0 3vw 2vw rgba(0,0,0,.5);
}
h3:before{
  content: attr(data-title);
  position: absolute;
  color: white;
  top: -0.5vh;
  left: 0;
  text-shadow: 0 5px 5px black;
  transition: .5s;
}
h3::after{
  content: attr(data-title);
  position: absolute;
  color: black;
  top: -1vh;
  left: 0;
  text-shadow: 0 5px 5px white;
  transition: .5s;
}
h3:hover:before{
  top: -0.5vw;
  left: 0.5vw;
}
h3:hover:after{
  top: -1vw;
  left: 1vw;
}
.fixed-top{
  margin: 15px;
  left: 0px;
}
.navbar-brand{
  margin: 0%;
  margin-right: 30px;
  margin-left: 10px;
}
.navbar-nav{
  font-size: 2.5vw;
  font-weight: 500;
}
.navbar-dark{
  background-color: black;
}
.navbar-dark .navbar-nav > .nav-item > a {
  font-family: 'Red Rose';
}
.navbar-dark .navbar-nav > .nav-item > a:hover {
    color: yellow;
}
.grid-main-container{
margin-top: 30px;
border: green solid 10px;
height: 300vh;
display: grid;
grid-template-columns: repeat(6, 1fr);
}
.grid-more{
  grid-template-rows: 1fr 1fr 0.25fr 1fr;
}
.picture-container {
  grid-row: 1;
  grid-column: 1 / span 2;
  position: relative;
  width: 20vw;
  height: 60vh;
  margin-top: 110px;
  margin-left: 10vw;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}
.picture-container img{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.picture-container img:nth-child(4){
  top: -30px;
  left: 30px;
  border: yellow solid 10px;
}
.picture-container:hover img:nth-child(4){
  transform: translate(20%, -6%);
} 
.picture-container img:nth-child(3){
  top: -20px;
  left: 20px;
}
.picture-container:hover img:nth-child(3){
  transform: translate(15%, -4.5%);
} 
.picture-container img:nth-child(2){
  top: -10px;
  left: 10px;
}
.picture-container:hover img:nth-child(2){
  transform: translate(10%, -3%);
} 
.picture-container:hover img:nth-child(1){
  transform: translate(5%, -3%);
} 

.flex-column-container{
  padding: 80px;
  grid-column: 3/ span 4;
  grid-row: 1;
  border: red solid 10px;
}
.layerbox{
  display: flex;
  grid-row: 2 / span 2;
  grid-column: 1 /span 3;
  border: red solid 10px;
  justify-content: center;
  align-items: flex-end;
}
.layerbox h3{
  left: 13vw;
  top: 3vh;
}
.layerbox img{
  position: absolute;
  width: 40vw;
}
.description-box{
  margin-left: 3vw;
  position: relative;
  padding-top: 4vh;
  width: 70%;
}
.astronaut{
  display: flex;
  grid-row: 2;
  grid-column: 4 / span 3;
  border: red solid 10px;
  justify-content: center;
  align-items: flex-end;
}
.astronaut img{
  position: relative;
  height: 70vh;
  width: 30vw;
}
.futuristic{
  display: flex;
  grid-row: 4;
  grid-column: 1 / span 3;
  justify-content: center;
  align-items: center;
  border: red solid 10px;
}
.futuristic h1{
  position: relative;
  left: 50%;
}
.futuristic h1::before{
  color: orange;
}
.futuristic h1::after{
  color: yellow;
}
.interest{
  display: flex;
  grid-row: 3 / span 2;
  grid-column: 4 / span 3;
  border: red solid 10px;
  justify-content: center;
  align-items: center;
}
.interest h3{
  position: relative;
  left: 16vw;
  top: 9vh;
}
.interest h4{
  position: relative;
  line-height: 3em;
  text-align: center;
}
.interest img{
  position: absolute;
  width: 40vw;
}
#education{
  margin-top: 20vh;
  left: 10vw;
  height: 50vh;
  width: 60vw;
  grid-row: 1 / span 1;
  grid-column: 1 / span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.history{
  grid-row: 3;
  grid-column: 4 / span 3;
  border: red solid 10px;
  display: flex;
  align-items: center;
}
.history img{
  position: relative;
  width: 40vw;
  height: 20vh;
  border: red solid 10px;
}
.history h3{
  position: relative;
  font-size: 4vw;
  left: -21vw;
  top: -0.5vh;
}
.organization{
  grid-row: 4;
  grid-column: 4 / span 3;
  text-align: center;
}
.organization-pic{
  grid-row: 4;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.organization-pic img{
  width: 30vw;
  height: 45vh;
  position: absolute;
}
.contact-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#contact{
  
}

